/*---------------------------------------- */
/* ==              FONTS                    */
/*---------------------------------------- */
body
{
    font-family: 'Roboto',condensed;
    width: 100%;
    margin: 0px;
    line-height: 23px;
    /* background-image: url("images/Alaskabg.jpg"); */

}
img{
    width: 100%;
    height:auto;
}

.bloc_page
{
 margin: auto;
 width: 100%;
}
 
/* ---------------------------------------- */
/* ==              HEADER               */
/*---------------------------------------- */
header
{
background-color:#294040;
position: fixed;
z-index: 20; 
top: 0;
width: 100%;
height:auto;
border-bottom: 1px solid #e5e5e5;   
display: flex;

}
header a , #slogan
{
    
    text-decoration: none;
    color: whitesmoke;
}

/* ---------------------------------------- */
/* ==              CONTENT               */
/*---------------------------------------- */
.content
{
    padding-top: 112px;
}


/* NAVIGATION */
#burger_menu
{
display:none;
top:0;
right:0;
width:150px;
height:200px;
background-color:white;
}
.nav_menu
{
    display: none;
}

 
/* .nav_menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

header .logo{
    flex: 1;
    color: rgb(2, 37, 18);
    text-shadow: 0 0 2px #000;
    margin-left: 50px;
    }
header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    }
.nav_menu{
        list-style-type: none;
        }
.nav_menu a {
     text-decoration: none;
    color: rgb(2, 37, 18);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    }
.nav_menu a:hover{
    border-bottom: 2px solid cadetblue;
        }
header .nav_menu{
    font-size: 2.5em;
    display: none;
    }
 #chk1:checked ~ ul{
        right: 0;
        } */
/* HOME PAGE SLOGAN */

#slogan{
    position: absolute;
    text-align: center;
    width: 95%;
    top: 60%;
}
.startbutton
{
    padding: 9px;
    width: 12%;
    border-radius: 18px;
}

 
/* ---------------------------------------- */
/* ==              BOOKLIST               */
/*---------------------------------------- */

/* BOOK GALLERY LIST */
.heading-title {
    font-size: 17px;
}

#booklist img 
{
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    margin: 12px;
  }
.gallery_row
{
    display: flex;
    /* width:15%; */
    text-align: center;
    font-size: 15px;

}

  
/* ---------------------------------------- */
/* ==           CONTACT PAGE              */
/*---------------------------------------- */

#contact_us{
    background-color :#234e4e61;
}
 
#contact_us input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  } 
  #contact_us input[type=submit] {
    background-color: #294040;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
  }
  #contact_us input[type=submit]:hover {
    background-color:#294040;
} */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }    
  .container_contact{
      padding: 13%;
    }

    .container_contact h3
    {
        font-size: 64px;
        text-align: center;
    }
        /* #contaAuthor
        {
        margin : 20%;
        } */
 
    #contact_us form {
        background-color: rgba(255,255,255, .8);
        /* width: 300px; */
        height: 70%;
        margin: 40px 150px;
        padding: 20px;
        padding-right: 30px;
        border-radius: 3px
    }
/* ---------------------------------------- */
/* ==              FOOTER                */
/*---------------------------------------- */
footer, footer a {
    background-color: #292929;
    color: white;
    padding: 7px;
    text-align: center;
    display: block;
}
.socialmedia {
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    justify-content: center;
}   


@media screen and (min-width: 1200px)
{ 

    header 
    {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    }

    .nav_menu,#logo
    {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        list-style-type: none;
        margin: 0px;
    }
  
    .nav_menu  li, header form
    {
        padding: 10px;
    }
    /* header 
    {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    } */
    #burger_action
    {
        display: none;
    }
    /* .menu_burger 
    {
        display: none;
    }
    header .nav_menu {
        display: block;
    } */
    /* header ul {
    position: fixed;
    top:100px;
    right: -100%;
    background: whitesmoke;
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
    }
    #chk1:checked ~ ul{
        right: 0;
        }
    .nav_menu li, header form
    {
        padding: 10px;
    }
    .nav_menu .menu-icon {
        display: none;
      }*/
}